$title: 'source_sans_probold', Arial, sans-serif;
$text: 'latoregular', Arial, sans-serif;
$bold-text: 'latobold', Arial, sans-serif;
$light-text: 'latolight', Arial, sans-serif;
$thin-text: 'latothin', Arial, sans-serif;

$primary-color: #fd2900;
$text-color:#1c1e21;
$light-grey: #f0f2f5;
$grey: #dddfe2;
$dark-grey: #A0A0A0;